.banner {
    position: relative;
    background-image: url('../img/Banner.jpg'); // Substitua pelo caminho da sua imagem
    background-size: cover;
    background-position:top;
    height: 600px; // Ajuste a altura conforme necessário
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .banner-text {
    position: absolute;
    left: 20px; // Ajuste a posição horizontal conforme necessário
    color: white;
    padding: 20px;
    border-radius: 5px;
  
    h1 {
      margin: 0;
      font-size: 2rem;
      color: white;
    }
  
    p {
      margin: 0;
      font-size: 1.2rem;
      color: white;
    }
  }