.telemetria {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 30px;
  gap: 20px; // Espaçamento entre as seções

  .telemetria-text {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px; // Espaçamento entre os parágrafos

    p {
      margin-bottom: 10px; // Remove margens padrão dos parágrafos
    }
  }

  .telemetria-ol {
    display: flex;
    align-items: flex-start;
    width: 60%;
    margin: 20px 0 0 20px; 

    h1 {
      font-size: 1.5em;
      margin-bottom: 10px; // Espaçamento entre o título e a lista
    }


      li {
        margin-bottom: 10px; // Espaçamento entre os itens da lista

        strong {
          display: block;
          margin-bottom: 5px; // Espaçamento entre o título e o texto do item
        }
      }
    
  }
}