#fabrica-software {
    display: flex;
    flex-direction: row;
    align-items: flex-start; // Alinha os itens no topo
    width: 100%; // Garante que a seção ocupe toda a largura disponível
  
    .fabrica-text {
      background-color: rgb(207, 226, 162); // Cor de fundo especificada
      padding: 20px; // Espaçamento interno para o texto
      box-sizing: border-box; // Inclui padding e border no cálculo de largura
  
      h1 {
        font-size: 35px; // Tamanho da fonte do título
        margin-bottom: 15px; // Espaçamento abaixo do título
      }
  
      .p-title {
        font-size: 25px; // Tamanho da fonte do parágrafo
        margin-left: 30px; // Afastamento de 30px da esquerda
        margin-bottom: 15px;
        margin-top: 0px; // Espaçamento abaixo do título
      }
  
      p {
        font-size: 25px; // Tamanho da fonte dos parágrafos
        margin-bottom: 15px; // Espaçamento entre parágrafos
      }
  
      ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        list-style-type: disc;
        color:rgb(17, 91, 47);
        font-size: 25px;
  
        li {
          margin-bottom: 10px; // Espaçamento entre itens da lista
        }
      }
    }
  
    .fabrica-img {
        display: flex;
        justify-content: space-between; // Distribui o espaço entre as imagens
        align-items: flex-start; // Alinha as imagens ao fundo do contêiner
        width: 100%;
        height: auto;
        background-color: white;
      
        .fabrica-1,
        .fabrica-2,
        .fabrica-3 {
          flex: 1; // Permite que cada imagem ocupe espaço igual
          position: relative;
          height: auto;
        }
      
        .fabrica-1 img {
          position: relative;
          left: -10%;
        }
      
        .fabrica-2 img {
          position: relative;
          right: 0;
          transform: translateY(-10%) translateX(40%);
          max-width: 40%;
        }
      
        .fabrica-3 img {
            max-width: 100%;
            height: auto;
            margin-left: -70%;
            margin-top: 1%; // Ajusta a posição horizontal
            // transform: translateY(-20%); // Ajusta a posição vertical
          }
      
        img {
          max-width: 70%;
          height: auto;
        }
      }
    }

//     .fabrica-img {
//         position: relative; // Define o contêiner como relativo
//         width: 100%;
//         height: auto; // Define uma altura para o contêiner de imagens
//         background-color: white; // Cor de fundo branca
    
//         .fabrica-1 {
//           position: absolute;
//           top: 0;
//           left: -10%;
//         }
    
//         .fabrica-2 img{
//             position: absolute;
//             top: 50%;
//             right: 0;
//             transform: translateY(70%) translateX(-10%); // Centraliza verticalmente no eixo Y
//           }
        
//           .fabrica-3 img{
//             position: absolute;
//             top: 100%;
//             // Posiciona no fundo do contêiner
//             left: -30%; // Desloca paraa esquerda
//             transform: translateY(265%);
//             max-width: 90%;
            
//           }
    
//         img {
//           max-width: 70%; // Garante que as imagens não ultrapassem o contêiner
//           height: auto; // Mantém a proporção das imagens
//         }
//       }
//   }