.servicos {
    display: flex;
    flex-direction: row;
    background-color: white; // Cor de fundo para a seção principal
  
    .servicos-esquerda {
      flex: 2; // Ocupa 2 partes do espaço disponível
      display: flex;
      flex-direction: column;
  
      .servicos-titulo, .servicos-subtitle {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 35px;
        line-height: 1.5; // Ajuste para melhorar a legibilidade
        padding: 10px; // Adiciona espaçamento interno
      }
  
      .servicos-img {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding: 0;
  
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  
    .servicos-direita {
      flex: 1; // Ocupa 1 parte do espaço disponível
      display: flex;
      flex-direction: column;
      justify-content: space-between; // Distribui o espaço entre os elementos
      align-self: stretch;
      background-color: rgb(217, 219, 220);
      padding: 20px; // Adiciona espaçamento interno
  
      .servicos-p {
        flex: 1; // Permite que o conteúdo ocupe o espaço disponível
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 24px;
        
        max-width: 100%;
  
        p {
          margin-bottom: 12px;
        }
      }
  
      .servicos-ul {
        ul {
          list-style-type: disc;
          padding-left: 20px; // Adiciona espaçamento à esquerda para a lista
          font-size: 24px;
          color: rgb(17, 91, 47)
        }
      }
    }
  }