.farm-1 {
  display: flex;
  flex-direction: row; // Define o contêiner como flexível
  width: 100%; // Garante que ocupe toda a largura da tela

  .farm-text-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px; // Adiciona algum espaçamento interno
    height: auto;
      h1 {
        text-align: left;
      }
  }

  .farm-img-1 {
    display: flex;
    width: 40%;
    align-items: flex-start;
    justify-content: flex-end;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}
.farm-2 {
  display: flex;
  flex-direction: column; // Disposição em coluna
  align-items: flex-start; // Alinha os itens no início
  width: 100%; // Ocupa toda a largura disponível
  padding: 20px; // Espaçamento interno para consistência
  box-sizing: border-box; // Inclui padding e border no cálculo de largura

  .farm-text-2 {
    width: 100%; // Ocupa toda a largura disponível
    margin-bottom: 20px; // Espaçamento entre as seções
  }

  .farm-img-2 {
    width: 100%; // Ocupa toda a largura disponível
    display: flex;
    justify-content: center; // Centraliza a imagem horizontalmente
    margin-bottom: 20px; // Espaçamento entre as seções

    img {
      max-width: 100%; // Garante que a imagem não ultrapasse a largura do contêiner
      height: auto; // Mantém a proporção da imagem
    }
  }

  .farm-p {
    width: 100%; // Ocupa toda a largura disponível
  }
}