// Importar variáveis e mixins do navbar.scss
@import './navbar.scss';

.footer {
  background-color: $navbar-bg-color;
  color: $link-color;
  padding: $padding;
  @include flex-center();

  .footer-content {
    @include flex-center(space-between, flex-start);
    flex-wrap: wrap;
    width: 100%;
    height: auto;

    .footer-links {
      list-style: none;
      padding: 0;
      margin: 0;
      @include flex-center(flex-start);

      a {
        @include link-style;
      }

      .dropdown {
        position: relative;

        .dropdown-content {
          display: none;
          position: absolute;
          background-color: $dropdown-bg-color;
          min-width: 160px;
          box-shadow: 0px -8px 16px 0px rgba(0, 0, 0, 0.2); // Ajusta a sombra para cima
          z-index: 1;
          bottom: 100%; // Faz o dropdown abrir para cima

          a {
            @include link-style;
            display: block;
            padding: 12px 16px;

            &:hover {
              background-color: $hover-bg-color;
            }
          }
        }

        &:hover .dropdown-content {
          display: block;
        }
      }
    }

    .social-media {
      @include flex-center(center); // Centraliza os ícones de redes sociais
  
      a {
        @include link-style;
        margin: 0 10px;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 10px 10px 10px;
        svg { // Aplica o estilo diretamente aos ícones SVG
          transition: box-shadow 0.3s ease; // Transição suave para o efeito de hover
          &:hover {
            color: green; // Efeito de sombra ao passar o mouse
          }
        }
      }
    }

    .compliance-section {
      text-align: center;

      a {
        @include link-style;
        margin: 10px 10px;
        padding: 8px 16px;
        border-radius: 5px;

        &:hover {
          color: green
        }
      }
    }
  }
}