.datacenter {
  display: flex;
  flex-direction: column; // Disposição em coluna
  align-items: flex-start; // Alinha os itens no início
  width: 100%; // Ocupa toda a largura disponível
  padding: 20px; // Espaçamento interno para consistência
  box-sizing: border-box;
  .datacenter-img{
    display: flex;
    justify-items: center;
  }
  .datacenter-p {
    margin-bottom: 0px;
  }
  .divider {
    width: 70%;
    height: 2px; // Espessura da linha
    background-color: rgb(17, 91, 47);; // Cor da linha
    margin: 20px auto; // Espaçamento acima e abaixo da divisória
  }
}