.micro-usinas {
  display: flex;
  flex-direction: column; // Disposição em coluna
  align-items: flex-start; // Alinha os itens no início
  width: 100%; // Ocupa toda a largura disponível
  padding: 0px 20px 20px 20px; // Espaçamento interno para consistência
  box-sizing: border-box;
  .micro-usina-div {
    display: flex; 
    flex-direction: row;
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: space-between; /* Distribui espaço entre os itens */
}

.micro-usina-div p,
.micro-usina-div img {
    flex: 1; /* Faz com que ambos os elementos ocupem o mesmo espaço */
    max-width: 50%; /* Limita a largura máxima de cada elemento a 50% */
    margin: 0;;
    padding: 20px;
}
.micro-usina-div p{
  font-size: 1.2rem;
}
.micro-usina-text {
  display: flex;
  flex-direction: column; // Organiza os elementos em coluna
  justify-content: center; // Centraliza verticalmente
  align-items: center; // Centraliza horizontalmente
  width: 100%;

  .micro-usina-text-div{
    width: 80%;

    h1{
    text-align: center;
    font-size: 1.5rem;
  }

   p {
    font-weight: 300; /* Define o peso da fonte dos parágrafos como 300 */
    margin: 0 0 10px 0; /* Adiciona uma margem inferior para espaçamento entre parágrafos */
  }
  }
  

}
.micro-usina-div-2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Alinha os itens no início da seção */
  // justify-content: space-between;
  // height: 100vh; /* Opcional: garante que a seção ocupe a altura total da tela */



  .micro-usina-text-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h1 {
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 60px;
    }
    p {
      text-align: left;
      font-weight: 300;
      padding: 0 0 30px 0;
    }
  }

  .microusinas-img {
    display: flex;
    align-items: center; /* Alinha a imagem verticalmente ao centro da section */
    justify-content: center; /* Alinha a imagem horizontalmente ao centro da section */
    width: 40%;

    img {
      padding-top: 60px;
      width: 120%; /* Faz a imagem ocupar 50% da largura da section */
      
    }
  }
}
.last-p{
  // width: 80%;
  // text-align: center;
  padding: 20px;
}
}