@import './mixins';

.missao {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  width: 100%;
  padding: 0;
  gap: 20px;
  margin: 0;
  align-items: flex-start;
  border-left: 1px green solid;

  .card {
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box; // Inclui padding no cálculo da largura e altura

    h1 {
      margin-bottom: 10px;
      font-size: 25px;
    }

    p, ul {
      width: 100%; // Ocupa toda a largura disponível
      line-height: 1.5;
      padding: 15px;
      margin: 0; // Remove margens padrão
      box-sizing: border-box; // Inclui padding no cálculo da largura e altura
    }

    ul {
      padding-left: 0; // Remove padding padrão

      li {
        margin-bottom: 10px; // Espaçamento entre os itens da lista
      }
    }
  }
}