$navbar-bg-color: white;
$dropdown-bg-color: rgba(206, 225, 162);
$link-color: #056E46;
$hover-bg-color: rgb(25, 92, 51);
$padding: 1rem;

@mixin flex-center($justify: space-between, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin link-style {
  color: $link-color;
  text-decoration: none;
  padding: 0.5rem;
  list-style: none;
}

.navbar {
  background-color: $navbar-bg-color;
  color: $link-color;
  width: 100%;
  // padding: $padding;
  position: sticky;
  top: 0;
  z-index: 1000;
  @include flex-center();
  .nav-img{
    max-width: 20%;
    padding: 10px;
  }

  .nav-links {
    list-style: none;
    @include flex-center(center);
    padding: 0px;

    a {
      @include link-style;
      gap: 30px;
      min-width: 9.375rem;
      // padding: 0 30px;
      position: relative;
      display: flex;
      align-items: center;
      font-weight: 600;

      &:hover {
        color: #A9CF46;
      }

      svg {
        // margin-left: 5px;
        transition: transform 0.3s;
      }
    }

    .dropdown {
      position: relative;

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        list-style: none;
        padding: 0;
        border-radius: 7px;

        a {
          @include link-style;
          display: block;
          padding: 8px 16px;
          text-align: center;
          color: $hover-bg-color;

          &:hover {
            background-color: $hover-bg-color;
            color: #A9CF46;
          }
        }

        .dropdown-submenu {
          color: $hover-bg-color;
        }
      }

      &:hover .dropdown-content {
        display: block;
      }

      &:hover > a svg {
        transform: rotate(180deg);
      }
    }
  }

  .social-links {
    @include flex-center(center);

    a {
      @include link-style;
      margin: 0 10px;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        transition: box-shadow 0.3s ease;

        &:hover {
          color: green;
        }
      }
    }
  }
}