$navbar-bg-color: rgb(2, 42, 12);
$dropdown-bg-color: rgba(206, 225, 162);
$link-color: white;
$hover-bg-color: rgb(25, 92, 51);
$padding: 1rem;

@mixin flex-center($justify: space-between, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin link-style {
  color: $link-color;
  text-decoration: none;
  padding: 0.5rem;
  list-style: none;
}

.navbar {
  background-color: $navbar-bg-color;
  color: $link-color;
  padding: $padding;
  position: sticky;
  top: 0;
  z-index: 1000;
  @include flex-center();

  .nav-links {
    list-style: none;
    
    @include flex-center(center); // Centraliza os links

    a {
      @include link-style;
      padding: 0 30px;
    }

    .dropdown {
      position: relative;

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgb(228, 235, 158);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        list-style: none;
        padding: 0; // Remove padding extra

        a {
          @include link-style;
          display: block;
          padding: 8px 16px; // Ajusta o padding para centralizar
          text-align: center; // Centraliza o texto
          color: $hover-bg-color;
          &:hover {
            background-color: $hover-bg-color;
            color: white;
          }
        }
        
      }

      &:hover .dropdown-content {
        display: block;
      }
    }
  }

  .social-links {
    @include flex-center(center); // Centraliza os ícones de redes sociais

    a {
      @include link-style;
      margin: 0 10px;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      svg { // Aplica o estilo diretamente aos ícones SVG
        transition: box-shadow 0.3s ease; // Transição suave para o efeito de hover
        &:hover {
          color: green; // Efeito de sombra ao passar o mouse
        }
      }
      
    }
  }
}