.projetos {
    display: flex;
    flex-direction: row; // Disposição em coluna
    align-items: flex-start; // Alinha os itens no início
    width: 100%; // Ocupa toda a largura disponível
    box-sizing: border-box;
    .projetos-img{
      display: flex;
      justify-items: center;
      .coopertech-img{
        max-width: 80%;
      }
      .dsagro-img{
        max-width: 70%;
      }
    }
    .projetos-text{
      padding: 20px;
      p{
        margin-top: 0px;
      }
    }
    .projetos-link{
      margin-left: '5px';
      color: '#007BFF'; 
      text-decoration: 'none'
    }
  }