@import '../style/mixins';

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px;
    margin-bottom: 0px;
  
    .conteudo {
      width: 80%;

      h1{
        @include h1-style
      }

      p {
        width: 100%;
        line-height: 30px;
        text-align: inherit; // Ocupa toda a largura
        font-weight: 500;
      }
    }
  
    .separador {
      width: 50%;
      max-width: 700px;
      height: 3px;
      background-color: black;
      margin-bottom: 15px;
    }
  }