@import '../style/mixins';

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px;
    margin-bottom: 0px;
    
  
    .conteudo {
      width: 80%;
      margin: 25px;
      border-left: 1px green solid;

      p {
        padding: 20px;
        width: 100%;
        line-height: 30px;
        text-align: inherit; // Ocupa toda a largura
        font-weight: 500;
      }
    }
  
    .conteudo-1 {
      width: 80%;
      display: flex;
      justify-content: flex-end;
    }
  }