.telemetria {
  width: 100%; // Ajuste para ocupar a largura total do contêiner pai, se necessário
  display: flex;
  flex-direction: row; // Garante que os itens fiquem lado a lado
  flex-wrap: wrap; // Permite que os itens se ajustem conforme a largura da tela
  align-items: flex-start;
  background-color: rgb(207, 226, 162);
 
  // padding: 30px auto; // Centraliza o contêiner telemetria, ajuste conforme necessário
  // gap: 20px; // Espaçamento entre as seções

  .telemetria-text, .telemetria-ol-1 {
    display: flex;
    flex-direction: column;
    gap: 15px; // Espaçamento entre os parágrafos ou itens da lista

    p, h1, ol, li {
      margin-bottom: 10px; // Uniformiza as margens para todos os elementos internos
    }

    h1 {
      font-size: 1.5em;
    }

    li strong {
      display: block;
      margin-bottom: 5px; // Espaçamento entre o título e o texto do item
    }
  }
  .telemetria-text{
    padding: 70px 20px;
    width: 40%;
  }
  .telemetria-ol-1 {
    background-color: rgb(207, 226, 162);
    width: 50%;
  
    .telemetria-ol-p {
      align-items: center;
      text-align: center;
      // padding-left: 90px;
      
  
      p {
        font-size: 1.2rem; 
      }
    }
  
    ul {
      list-style-type: none;
      padding: 0;
    }
  
    .item-container {
      display: flex;
      flex-direction: row;
      padding-bottom: 10px; // Espaçamento entre os itens
  
      img {
        max-width: 30%; // Largura da imagem
        height: auto; // Altura automática para manter a proporção
      }
  
      li {
        height: 90px;
        background-color: rgb(17, 91, 47);
        color: white;
        padding: 20px 30px 20px 60px;
        margin: 0; 
        clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
        font-size: 0.9rem;
      }
    }
  }
  }
  .telemetria-ol-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(207, 226, 162);
  
    h1 {
      font-size: 1.5rem;
      margin-bottom: 40px;
    }
  
    ul {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap; // Permite que os cards se ajustem em linhas adicionais se necessário
      padding: 0;
      margin: 0 10px;
      gap: 10px; // Espaçamento entre os cards
  
      li {
        background-color: rgb(17, 91, 47);
        color: white;
        padding: 20px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 10px;
        width: 210px; // Largura fixa para todos os cards
        height: auto; // Altura automática para acomodar o conteúdo
        clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);
  
        .telemetria-ol-2-h1 {
          font-size: 1rem;
          margin-bottom: 20px;
          color: white;
          min-height: 40px;
        }
  
        p {
          margin: 0; // Remove a margem padrão do p
          flex-grow: 1;
          color: white;
          font-size: 0.8rem;
        }
  
        img {
          max-width: 100%;
          margin-top: 10px; // Espaçamento entre o texto e a imagem
        }
      }
    }
  }
  
  
