$background-color: #056E46;
$font-color: rgba(206, 225, 162);
$link-color: white;

.section-header {
    width: 100%;
    background-color: white; // Cor de fundo para destacar a seção
    text-align: center;
  
    .title {
      // margin-left: 100px ;
      // padding: 10px 0 10px 60px ;
      font-size: 2.5em;
      color: $background-color;
      font-weight: 600;
    }
  
    // .description {
    //   margin: 10px 0 0;
    //   padding: 0 0 10px 20px ;
    //   font-size: 1em;
    //   color: $font-color;
    // }
  }