@font-face {
  font-family: 'Nunito';
  src: url(../src/style/font/Nunito-VariableFont_wght.ttf);
}

html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Nunito';
    margin: 0;
    padding: 0;
  }
  

