

@font-face {
  font-family: 'Ubuntu';
  src: url(../src/style/font/Ubuntu/Ubuntu-Medium.ttf);
}

html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Ubuntu';
    margin: 0;
    padding: 0;
  }

  h1{
    color: rgb(17, 91, 47);
  }
  p{
    color: rgb(17, 91, 47)
  }
  li{
      color: rgb(17, 91, 47)
  }
  

